#lab-smart-user, #loginFormSmart, #registerFormSmart, #smartForgotPass{display: none}
#loginFormSmart .button.b-close, #registerFormSmart .button.b-close, #smartForgotPass .button.b-close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    position: absolute;
    right: 0;
}
#registerFormSmart input[type="text"],
#registerFormSmart input[type="email"],
#registerFormSmart input[type="password"],
#loginFormSmart input[type="text"],
#loginFormSmart input[type="email"],
#email_forgot_smart,
#loginFormSmart input[type="password"]{
	max-width: 100% !important;
}
#registerFormSmart label{
	width: 100%;
}
#registerFormSmart, #loginFormSmart{width: 900px;}
#loginFormSmart #SubmitLogin, #loginFormSmart #SubmitLogin span, #loginFormSmart #SubmitLogin i{
	font-size: 15px;
}
#form_forgotpassword button, #form_forgotpassword button span, #form_forgotpassword button i{
	font-size: 15px;
}
#registerFormSmart #submitAccount, #registerFormSmart #submitAccount span, #registerFormSmart #submitAccount i{
	font-size: 15px;
}
#loginFormSmart #SubmitLogin,
#registerFormSmart #submitAccount{border-radius: 5px;background: none;text-shadow:none;border:none;}
#loginFormSmart #SubmitLogin span,
#registerFormSmart #submitAccount span,
#form_forgotpassword button span{
	padding: 3px 10px 3px 11px;
}
#loginFormSmart #SubmitLogin span,
#registerFormSmart #submitAccount span,
#form_forgotpassword button span{
	background: none;border:1px #DDD solid;color: #333;border-radius: 30px;padding: 5px 20px;
}
#loginFormSmart .button.button-medium span i.left{vertical-align: 2px;}
.reActLogReg{display: inline-block;}
.header_user_info.smart-user-act {
    float: right;
    padding-top: 10px;
}
.header_user_info.smart-user-act a{color: #0000ff;}
.hight-light{border:1px #FF0000 solid; box-shadow: 0px 0px 5px -1px #FF0000;}
/*******/
#loginFormSmart #login_form::after{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
#loginFormSmart #login_form, #registerFormSmart #account-creation_form, #smartForgotPass #center_column_smart {
    background-image: url("../img/login-bg-1.jpg");
    background-size: cover;
    position: relative;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    outline: 0 none;
}
#registerFormSmart #account-creation_form{
	background-image: url("../img/login-bg-2.jpg");
}
#loginFormSmart .login-wrap,
#smartForgotPass .login-wrap {
    padding: 35px;
    position: relative;
    z-index: 1;
}
#loginFormSmart .login-wrap p {
    margin-bottom: 0;
}
#loginFormSmart .login-form, #registerFormSmart .login-form, #smartForgotPass .login-form{
    margin: auto;
    max-width: 300px;
}
#loginFormSmart .wht-clr .title-3,
#registerFormSmart .wht-clr .title-3 {
    color: #fff;
}
#loginFormSmart .login-wrap .fb-btn.btn,
#registerFormSmart .login-wrap .fb-btn.btn {
    margin: 25px 0 20px;
}
#loginFormSmart .fb-btn,
#registerFormSmart .fb-btn {
    background-color: #2852ab;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    line-height: 40px;
    padding: 0 10px !important;
    position: relative;
    width: 100%;
}
#loginFormSmart .login-wrap .btn .btn-icon,
#registerFormSmart .login-wrap .btn .btn-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
    font-size: 20px;
    height: 100%;
    line-height: 45px;
    padding-right: 8px;
    position: relative;
    width: 15%;
}
#loginFormSmart .signup,
#registerFormSmart .signup {
    padding-bottom: 18px;
    position: relative;
}
#loginFormSmart .signup::before,
#registerFormSmart .signup::before {
    border-top: 1px solid #dddddd;
    content: " ";
    display: inline-block;
    margin: 0 7px 0 0;
    vertical-align: middle;
    width: 33%;
}
#loginFormSmart .signup::after,
#registerFormSmart .signup::after {
    border-top: 1px solid #dddddd;
    content: " ";
    display: inline-block;
    margin: 0 0 0 7px;
    vertical-align: middle;
    width: 33%;
}
#email_forgot_smart,
#loginFormSmart #login_form input[type="text"],
#loginFormSmart #login_form input[type="email"],
#loginFormSmart #login_form input[type="password"],
#registerFormSmart #account-creation_form input[type="text"],
#registerFormSmart #account-creation_form input[type="email"],
#registerFormSmart #account-creation_form input[type="password"] {
    border-color: #eee;
    height: 40px;
    max-width: 100%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    background-position: 98% 12px;
    font-size: 13px;
    color: #b6b6b6;
}
#loginFormSmart #SubmitLoginCus, #registerFormSmart #submitAccountCus, #Retrieve-Passwrd {
    display: block;
    width: 100%;
}
#loginFormSmart .smartRegister.reActLogReg, #registerFormSmart .reActLogReg {
    float: left;
}
#loginFormSmart .lost_password_smart,
#registerFormSmart .lost_password_smart {
    float: right;
}
#loginFormSmart .auth-dor-moreinfo,
#registerFormSmart .auth-dor-moreinfo{clear: both;}
#loginFormSmart .login-form p.submit,
#registerFormSmart .login-form p.submit {
    padding: 15px 0;
}
#loginFormSmart .login-wrap h2.spcbtm-15{margin-top: 0px;}
#loginFormSmart{margin-top: 30px;}
#loginFormSmart .checkbox.reg-checkbox,
#registerFormSmart .checkbox.reg-checkbox {
    text-align: left;
}
#registerFormSmart #account-creation_form p.submit a, #smartForgotPass .submit a{color: #1f1f1f;}
#smartForgotPass .submit a.smartLogin{float: left;}
#smartForgotPass .submit a.smartRegister{float: right;}
#smartForgotPass .submit a:hover{color: #ef4416;}
.button.b-close {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    opacity: 1;
    padding: 7px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
}
.button.b-close::before {
    border-color: rgba(0, 0, 0, 0) #ef4416;
    border-style: solid;
    border-width: 0 60px 60px 0;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: -1;
}
#smartForgotPass #center_column_smart{
	background-image: url("../img/login-bg-2.jpg");
}