
.loaddingAjaxTab {
    background: rgba(0, 0, 0, 0) url("../images/preload.gif") no-repeat scroll center center;
    display: block;
    height: 64px;
    left: 33%;
    position: absolute;
    text-indent: -9999em;
    top: 25%;
    width: 64px;
}
.nav-tabs > li a{outline: none;}
.action-container-sidebar {
    display: none;
}
.ajax_block_product_sidebar {
    display: block;
    overflow: hidden;
}
.ajax_block_product_sidebar .left-block {
    padding: 0 0 0 15px;
}