#lab-smart-user, #loginFormSmart, #registerFormSmart, #smartForgotPass{display: none}
#loginFormSmart .button.b-close, #registerFormSmart .button.b-close, #smartForgotPass .button.b-close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    position: absolute;
    right: 0;
}
#registerFormSmart input[type="text"],
#registerFormSmart input[type="email"],
#registerFormSmart input[type="password"],
#loginFormSmart input[type="text"],
#loginFormSmart input[type="email"],
#loginFormSmart input[type="password"]{
	max-width: 100% !important;
}
#registerFormSmart label{
	width: 100%;
}
#registerFormSmart, #loginFormSmart{width: 500px;}
#loginFormSmart #SubmitLogin, #loginFormSmart #SubmitLogin span, #loginFormSmart #SubmitLogin i{
	font-size: 15px;
}
#form_forgotpassword button, #form_forgotpassword button span, #form_forgotpassword button i{
	font-size: 15px;
}
#registerFormSmart #submitAccount, #registerFormSmart #submitAccount span, #registerFormSmart #submitAccount i{
	font-size: 15px;
}
#loginFormSmart #SubmitLogin,
#registerFormSmart #submitAccount, #form_forgotpassword button{border-radius: 5px;background: none;text-shadow:none;border:none;}
#loginFormSmart #SubmitLogin span,
#registerFormSmart #submitAccount span,
#form_forgotpassword button span{
	padding: 3px 10px 3px 11px;
}
#loginFormSmart #SubmitLogin span,
#registerFormSmart #submitAccount span,
#form_forgotpassword button span{
	background: none;border:1px #DDD solid;color: #333;border-radius: 30px;padding: 5px 20px;
}
#loginFormSmart .button.button-medium span i.left{vertical-align: 2px;}
.reActLogReg{display: inline-block;}
.header_user_info.smart-user-act {
    float: right;
    padding-top: 10px;
}
.header_user_info.smart-user-act a{color: #0000ff;}
.hight-light{border:1px #FF0000 solid; box-shadow: 0px 0px 5px -1px #FF0000;}