@media (min-width: 1500px){
	#Dor_Full_Slider .dorArrowLeft i, #Dor_Full_Slider .dorArrowRight i{font-size: 18px;height: 35px;width: 35px;line-height: 30px;display: block;}
}
@media (min-width: 1200px){
	.box-cart-bottom{width: 38%;}
	.act-icon-detail{width: 35%;}
	/*.dor-megamenu .navbar-nav > li {
	    margin: 0;
	    padding: 0 12px;
	}*/
}
@media (min-width: 1825px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 442px !important;}
}
@media (max-width: 1824px) and (min-width: 1701px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 430px !important;}
}
@media (max-width: 1700px) and (min-width: 1628px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 416px !important;}
}
@media (max-width: 1627px) and (min-width: 1600px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 442px !important;}
}
@media (min-width: 1628px){
	#category ul.product_list.grid li.ajax_block_product{
		width: 14.2857%;clear: none;
	}
	#category ul.product_list.grid li.ajax_block_product:nth-child(7n+8) {
	    clear: left;
	}
	ul.product_list.grid li.ajax_block_product{min-height: 395px;}
	
}
@media (max-width: 1627px) and (min-width: 1396px){
	#category ul.product_list.grid li.ajax_block_product{
		width: 16.6667%;clear: none;
	}
	#category ul.product_list.grid li.ajax_block_product:nth-child(6n+7) {
	    clear: left;
	}
	.hotdeal-items-lists .ajax_block_product,
	.productNewArrivals ul.product_list.grid li.ajax_block_product {
	    height: 420px !important;
	}
	
}
@media (max-width: 1627px) and (min-width: 1599px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 442px !important;}
}
@media (max-width: 1598px) and (min-width: 1501px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 435px !important;}
}
@media (max-width: 1500px) and (min-width: 1396px){
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 420px !important;}
}
@media (max-width: 1395px) and (min-width: 1200px){
	#category ul.product_list.grid li.ajax_block_product{
		width: 20%;clear: none;
		/*min-height: 356px !important;
		margin-bottom: 0px !important;*/
	}
	#category ul.product_list.grid li.ajax_block_product:nth-child(5n+6) {
	    clear: left;
	}
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: 450px !important;}
}
@media (max-width: 1232px) and (min-width: 1200px){
	.item-time{padding-left: 5px !important;padding-right: 5px !important;}
	.item-time span{font-size: 13px;}
}
@media (min-width: 1351px){
	#dor_search_top{right: 325px;}
}
@media (max-width: 1350px){
	.header-user-cart .shopping_cart > a span,
	.header-user-cart .shopping_cart > a b,
	.useInfoCurrText span{display: none !important;}
	.shopping_cart > a, .head-current-useInfo .useInfoCurrText{width: 26px;height: 26px;}
	.header-user-cart {
	    float: right;
	    position: absolute;
	    right: 125px;
	    top: 10px;
	    width: auto;
	    z-index: 9;
	}
	.current.head-current-useInfo{margin-top: 10px;}
	.option-oct {
	    margin-top: 10px;
	}
	.shopping_cart > a{padding: 0px !important;}
	#header .cart_block{left: auto;}
}
@media (max-width: 1199px){
	.header-user-cart .shopping_cart > a span,
	.header-user-cart .shopping_cart > a b,
	.useInfoCurrText span{display: none;}
	.shopping_cart > a, .head-current-useInfo .useInfoCurrText{width: 26px;height: 26px;}
	.header-user-cart {
	    float: right;
	    position: absolute;
	    right: 125px;
	    top: 10px;
	    width: auto;
	    z-index: 9;
	}
	.current.head-current-useInfo{margin-top: 10px;}
	.option-oct {
	    margin-top: 10px;
	}
	#header .cart_block{left: auto;}
	.shopping_cart > a{padding: 0px !important;}
	.promotion-banner {
	    margin-top: 60px;
	    overflow: hidden;
	    padding: 0 15px;
	}
	#category ul.product_list.grid li.ajax_block_product:nth-child(4n+5) {
	    clear: left;
	}
	#dor-tab-product-category {
	    margin-bottom: 25px;
	    margin-top: 45px;
	}
	/*.blockPositionGroup {
	    padding-left: 0;
	    padding-right: 0;
	}*/
	.hotdeal-items-lists .ajax_block_product,
	.productNewArrivals ul.product_list.grid li.ajax_block_product,
	 #productscategory_same .ajax_block_product{height: auto !important;}
	ul.product_list .functional-buttons div.wishlist a::before, ul.product_list .functional-buttons div.compare a::before{display: inline-block;}
	.useLine2 i, .pos_search .caret{display: none;}
	.image-button-menu img{height: auto;}
	.hotdeal-items-lists .ajax_block_product, #productscategory_same .ajax_block_product, .tablist-content-data ul.product_list.grid li.ajax_block_product{
		height: auto !important;
	}
	.promotion-banner > div {
	    position: relative;
	    padding: 0px 5px;
	}
	.dor-tab-featured-category-wrapper, .dor-tab-list-category-wrapper {
	    margin-top: 50px;
	}
	.main-promo-2{margin-top: 25px;margin-bottom: 0px;}
	.dor-tab-featured-category-wrapper{margin-bottom: 0px;}
	#dor-tab-featured-category ul.product_list.grid li.ajax_block_product{height: auto !important;}
	.container {
	    padding-left: 0;
	    padding-right: 0;
	}
}
@media (max-width: 1199px) and (min-width: 992px){

	#category ul.product_list.grid li.ajax_block_product {
	    clear: none !important;
	    text-align: center;
	    width: 25%;
	}
	ul.product_list.list > li .right-block .button.ajax_add_to_cart_button.btn.btn-default{
		padding: 10px 5px;
	}
	ul.product_list.list > li .right-block .right-block-content .functional-buttons {
	    padding: 0;
	}
	ul.product_list.list > li .right-block .button.ajax_add_to_cart_button.btn.btn-default:hover{
	    color: white;
	    padding-right: 20px;
	}
	ul.product_list.list > li .right-block .button.ajax_add_to_cart_button.btn.btn-default::after{right: 10px;}
	.cart-info-add .dor-txt-cart {
	    font-size: 14px;
	    padding-left: 15px;
	}
	.quantity-product-option {
	    padding-right: 0;
	    width: 18%;
	}
	.box-cart-bottom {
	    padding-left: 15px;
	    width: 40%;
	}
	.cart-info-add button.exclusive{width: 100%;}
	.act-icon-detail{width: 42%;padding-right: 0px;margin-left: -10px;}
	.socialsharing_product button {
	    padding: 5px 10px;
	}
	.dor-media-bottom #views_block #thumbs_list li, .dor-media-top #views_block #thumbs_list li{
		width: 70px;
	}
	.fa-icon-menu {
	    position: absolute;
	    right: 0;
	    top: 0;
	    padding-right:12px;
	}
	#dor-verticalmenu .dor-vertical-title{padding-left: 10px;}
	
	.col-dor-2 {
	    width: 25%;
	}
	.col-dor-4{display: none;}
	#dorTabListCategoryContent2 .ajax_block_product.col-dor-2:nth-child(5){clear: none;}
	.navbar-nav > li > a {
	    padding-bottom: 13px;
	    padding-top: 13px;
	}
	
	
	.list-category-fil li {
	    line-height: 38px;
	    padding: 0 0 0 30px;
	}
	.list-category-fil > ul{min-height: 271px;}
	.tab-category-container-slider{padding-top: 0px;}
	.footer-contact-us .block_content.toggle-footer .bullet > li span {
	    font-size: 14px;
	}
	.footer-contact-us .block_content.toggle-footer .bullet > li:nth-child(3) span{
		font-size: 13px;
	}
	.footer-contact-us ul li:last-child a {
	    height: 35px;
	    line-height: 35px;
	    width: 35px;
	}
	.cpt-slide-main em {
	    font-size: 35px;
	}
	.cpt-slide-main span {
	    font-size: 50px;
	}
	.dor-slider-desc h1{font-size: 68px;}
	.head-tab-lists > h3{font-size: 20px;padding-top: 2px;}
	.widget-heading.title_block > a, .widget-heading.title_block{font-size: 18px;}


	.hotSearch{font-size: 11px;}
	
	.cart-info-add button.exclusive {
	    padding: 12px 4px;
	}
	.dor-txt-cart::before{left: 8px;}
	#dor_custom_newsletter_block > span{display: none !important;}
	#dor_custom_newsletter_block > label{width: 20%;}
	#dor_custom_newsletter_block > div.block_content{width: 70%;}
	.main-gallery ul li {
	    float: left;
	    margin: 0;
	    width: 50%;
	}
	.main-gallery ul li a{
		padding: 5px;
		display: block;
	}
	.recentArticles li > div a.title{font-size: 13px;}
	.recentArticles li > div{line-height: 18px;}
}
@media (max-width: 1179px) and (min-width: 992px){
	.dor-top-brands .head-tab-lists > h3::after, h3.title-layout3-dor::after{
		border-top: 20px solid transparent;
	}
}
@media (max-width: 1147px) and (min-width: 992px){
	.navbar-nav > li > a {
	    padding-bottom: 11px;
	    padding-top: 11px;
	}
	div.verticalmenu .expand.dropdown-toggle{top: 5px;}
}
@media (max-width: 1030px) and (min-width: 992px){
	.dor-megamenu .navbar-nav > li{padding: 0 10px;}
	.dor-megamenu .navbar-nav > li > a{font-size: 15px;}
	#header_logo img {
	    max-width: 100%;
	    width: 100%;
	}
	.dor-megamenu{padding-left: 20px;}
}
@media (max-width: 991px) and (min-width: 768px){
	#category ul.product_list.grid li.ajax_block_product {
	    clear: none !important;
	    text-align: center;
	    width: 33.3333%;
	}
	ul.product_list.list > li .right-block .right-block-content .functional-buttons {
	    clear: both;
	    float: right;
	    width: 58.3333%;
	}
	.head-tab-lists > h3, .title_block.title-header-tab > h3, .tab-category-container-slider .title_block.title-header-tab h3 span{font-size: 18px;padding-top: 2px;}
	.dorTabLists.nav-tabs > li a{font-size: 14px;}
	
	.list-category-fil li {
	    line-height: 35px;
	    padding: 0 25px;
	    width: 100%;
	}
	.list-category-fil > ul{padding: 5px 0px;}
	.list-category-fil li a::before{top: -9px;font-size: 11px;}
	.list-category-fil li{line-height: 32px;}
	.list-category-fil > ul{min-height: 206px;max-height: 206px;}
	.dorTabLists.nav-tabs > li {
	    margin-left: 11px;
	    margin-right: 11px;
	}
	.blockDorado1.blockPosition {
	    padding: 18px 0;
	}
	
	
	.dor-two-cols .pb-center-column.info {
	    padding-left: 20px;
	}
	#index #dorTabProductCategoryContentPro{max-height: 875px;}
	#layered_block_left .nomargin a{font-size: 13px;}
	#categories_block_left li a, .block .list-block li a{font-size: 14px;}
	#ul_layered_price_0 label[for="price"] {
	    display: none;
	}
	.nav-tabs.dorTabAjaxSidebar > li {
	    float: left;
	    margin-bottom: 10px;
	    width: 100%;
	}
	.ajax_block_product_sidebar .left-block{
		width: 40%;
	}
	.ajax_block_product_sidebar .right-block {
	    padding-left: 5px;
	    padding-right: 0;
	    width: 60%;
	}
	.ajax_block_product_sidebar .right-block > h5 {
	    margin-bottom: 0;
	    margin-top: 0;
	}
	.ajax_block_product_sidebar .right-block > h5 a {
	    font-size: 14px;
	    line-height: 18px;
	}
	.action-container-sidebar{display: none;}
	.product_list_sidebar .content_price span {
	    font-size: 14px;
	}
	.nav-tabs.dorTabAjaxSidebar > li a{display: block;}
	.dor-media-bottom #views_block #thumbs_list li, .dor-media-top #views_block #thumbs_list li {
	    width: 73px;
	}
	#productscategory_list_data .ajax_block_product .product-container .product-name{
		font-size: 14px;
	}
	#productscategory_list_data .ajax_block_product .product-container {
		padding: 10px;
	}
	#productscategory_list_data .ajax_block_product .functional-buttons > div {
	    width: 100%;padding: 0px;text-align: left;
	}
	#productscategory_list_data .ajax_block_product .functional-buttons > div.wishlist a{padding-left: 17px;}
	#dor_custom_block_left .title_block {
	    font-size: 15px !important;
	}
	.sdstitle_block > a {
	    font-size: 15px;
	}
	.main-gallery ul li {
	    float: left;
	    margin: 0;
	    width: 50%;
	}
	.main-gallery ul li a{
		padding: 5px;
		display: block;
	}
	.sdsbox-content .recentArticles li a {
	    clear: both;
	    display: block;
	    float: none;
	    font-size: 12px;
	    margin: 0 auto;
	    text-align: center;
	}
	.recentArticles li > div {
	    display: table-cell;
	    padding-top: 10px;
	    text-align: center;
	    vertical-align: top;
	}
	#product.content_only div.primary_block div.pb-left-column{width: 47%;float: left;}
	#product.content_only .dor-txt-cart::before{left: 5px;}
	#product.content_only .cart-info-add button.exclusive {
	    padding: 12px 10px;
	}
	#product.content_only .dor-txt-cart {
	    padding-left: 6px;
	}

}
@media (max-width: 991px){
	.productNewArrivals.dorButtonArrow .owl-nav > div {
	    top: -8px;
	}
	#countdown-data .hotdeal-items-lists .owl-nav > div{top: -5px;}
	.DorNewproduct {
	    margin-top: 25px;
	}
	.promotion-banner{margin-top: 80px;}
	#dorTabFeatured {
	    clear: both;
	    display: block;
	    float: none;
	    padding-top: 20px;
	    text-align: center;
	}
	.dor-tab-featured-category-wrapper, .dor-tab-list-category-wrapper {
	    margin-top: 30px;
	}
	.dor-tab-featured-category{margin-top: 0px;}
	.dor-featured .owl-nav > div {
	    top: 15px;
	}
	.tab-category-container-slider{margin-top: 25px;}
	.tab-category-container-slider .title-layout3-dor > span{padding-top: 10px;display: block;}

	.dor-search-button{margin-top: 15px;}
	.shopping_cart > a{margin-top: 3px;}
	.blockPositionGroup{width: 100% !important;}
	ul.product_list.grid li.ajax_block_product .product-container, .hotdeal-items-lists .product-container{padding: 10px;}
	.dorButtonArrow .owl-nav > div,
	#countdown-data .hotdeal-items-lists .owl-nav > div{width: 25px;height: 25px;line-height: 25px;}
	.dorButtonArrow .owl-nav > div.owl-prev,
	#countdown-data .hotdeal-items-lists .owl-nav > div.owl-prev{right: 30px;left: auto !important;}
	#dor_custom_newsletter_block{width: 100%;}
	#dor_custom_newsletter_block > label{
		width: 33.3333%
	}
	.line-menu-main .dor-megamenu {
	    margin: 0 auto;
	    padding-left: 0;
	    top: -123px;
	    width: auto;
	}
	.header-main-wrapper {
	    padding: 10px 0;
	}
	header#header .nav.navbar-nav.megamenu {
	    background: #111 none repeat scroll 0 0;
	    color: #fff;
	}
	.widget-html.block.image-button-menu {
	    margin-left: -15px;
	}
	header#header .dor-megamenu .navbar-nav > li > a{color: #fff;}
	.ProductDetailTabsCols .nav.nav-tabs {
	    display: block;
	    float: none;
	    margin: 0 auto;
	    width: 100%;
	}
	.ProductDetailTabsCols .nav-tabs > li {
	    clear: none;
	    float: left;
	    margin: 0 auto;
	    padding-right: 0;
	}
	.ProductDetailTabsCols .tab-content {
	    border: 1px solid #ddd;
	    display: inline-block;
	    float: none;
	    margin: 0 auto;
	    padding: 25px 20px;
	    width: 100%;
	}
	.ProductDetailTabsCols .nav-tabs > li.active > a::before {
	    border-left: 0 solid #2688da;
	    border-top: 3px solid #2688da;
	    content: "";
	    height: 2px;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
	.ProductDetailTabsCols .nav-tabs > li > a {
	    border-left: 0 solid #ddd;
	    border-right: 0 none !important;
	    border-top: 0 solid #ddd;
	    font-size: 15px;
	    font-weight: 400;
	    margin: 0 auto;
	    padding: 18px;
	    position: relative;
	    text-transform: uppercase;
	}
	.ProductDetailTabsCols .nav-tabs > li.active > a, .ProductDetailTabsCols .nav-tabs > li.active > a:hover, .ProductDetailTabsCols .nav-tabs > li.active > a:focus {
	    background: #fff none repeat scroll 0 0;
	    border-left: medium none !important;
	    border-right: 0 none;
	}
	.header-nav {
	    margin-right: 15px;
	    width: auto;
	}
	#dor_custom_block_left img{height: auto;}
	header .nav{background: none;}
	#slider_row{padding-left: 0px;}
	.dor-megamenu .navbar-nav > li{margin:0 16px;}
	#dor-top-menu.navbar-collapse ul li a{background: none !important;}
	.dor-verticalmenu{display: none;}
	#slider_row{float: none;width: 100%;}
	.col-dor-4 {
	    float: left;
	    width: 100% !important;
	}
	#dorTabAjaxPro{float: none;}
	#dorTabAjaxPro li a{padding: 10px 20px;}
	.protab-lists h2 {
	    bottom: auto;
	    color: #000;
	    font-size: 20px;
	    margin: 0 auto 35px;
	    position: relative;
	    text-align: center;
	    text-transform: uppercase;
	}
	.protab-lists h2::before{
		content: "";
		position: absolute;
		bottom: 9px;
		border-bottom: 1px #ddd solid;
		width: 38%;
		left: 0px;
	}
	.protab-lists h2::after{
		content: "";
		position: absolute;
		bottom: 9px;
		border-bottom: 1px #ddd solid;
		width: 38%;
		right: 0px;
	}
	
	#dor_search_top{width: 100%;margin: 0 auto;display: inline-block;padding: 0px;right: 175px;}
	#header{padding-top: 15px;}
	header .row #header_logo, .header-user-cart, .header-nav{padding-top: 0px;padding-bottom:0px;}
	#header_logo {
	   padding-bottom: 10px;
	}
	.head-current-useInfo .useInfoCurrText {
	    cursor: pointer;
	    height: 26px;
	    margin: 3px 0 0;
	    padding: 0;
	    width: 26px;
	}
	.head-current-useInfo .useInfoCurrText span{display: none;}
	.option-oct {
	    margin-top: 13px;
	}
	#header .shopping_cart{position: static;}
	.shopping_cart > a {
	    display: inline-block;
	    float: none;
	    line-height: 19px;
	    position: absolute;
	    right: 0px;
	    top: 0;
	    vertical-align: top;
	}
/*	#header .cart_block {
	    left: 50%;
	    right: 0;
	}*/

	.navbar-toggle .icon-bar + .icon-bar{margin-top: 6px;}
	#footer .footer-block{width: 50%;}
	#footer .footer-block:nth-child(3) {
	    clear: left;
	}
	.dor-service-style2 .service-box .service-box-content::after{border:none;}
	/***MEga Menu**/
	.dor-megamenu .navbar-nav > li,
	.dor-megamenu .navbar-nav{float: none;}
	.dor-megamenu .navbar-nav > li > a {
	    padding: 12px 0;
	}
	#dor-top-menu .col-sm-3,
	#dor-top-menu .col-sm-4,
	#dor-top-menu .col-sm-6,
	#dor-top-menu .col-sm-8{
		width: 100%;padding: 0px;
	}
  	.dor-megamenu {
	    float: none;
	    margin: 0 auto;
	    padding: 0;
	    position: absolute;
	    right: 220px;
	    top: 12px;
	    width: auto;
	}
	
	.navbar-default .navbar-toggle .icon-bar{width: 20px;}
	.navbar-default .navbar-toggle .icon-bar:hover,
	.navbar-default .navbar-toggle:hover{background: none;}
	.open_menu {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    border: medium none;
	    color: #fff;
	    font-size: 17px;
	    padding: 0;
	    position: relative;
	    right: 0px;
	    margin: 0px;
	    top: 7px;
	    display: block;
	}
	#dor_search_top form#searchbox{top: 68px;}
	.is-sticky .logo-area{padding: 10px 0px;}
	.is-sticky .open_menu{top: 15px;}
	#dor-top-menu{overflow: scroll !important;}
	.dor-megamenu .navbar-nav > li > a .caret{display: block;}
	.dor-megamenu .navbar-nav > li > .dropdown-menu{margin: 0px;transform:none !important;}
	#dor-top-menu.navbar-collapse li.open ul{max-width: 100%;}
	.close_menu i {
	    color: #fff;
	    font-size: 18px;
	    font-weight: bold;
	}
	.close_menu{text-align: right;}
	.close_menu .btn-close {
	    padding-right: 15px;
	}
	.dor-megamenu .navbar-nav > li > a .caret:before {
	  right: 0px;
	  top: 0px;
	  font-size: 13px;
	  content: "\f067";
	  font-weight: normal;
	  color: #a8a8a8;
	  border: 1px solid #a8a8a8;
	  padding: 0px 2px;
	  border-radius: 3px;
	}
	.dor-megamenu .navbar-nav > li.open > a .caret:before{
	  content: "\f068";
	}
	.close_menu {
	    cursor: pointer;
	    display: block !important;
	    line-height: 0;
	}
	#dor-top-menu.navbar-collapse .navbar-nav > li > a .caret{text-align: right;float: right;}
	#dor-top-menu.navbar-collapse {
	    background: #111 none repeat scroll 0 0;
	    float: none !important;
	    height: 100% !important;
	    max-height: 100%;
	    padding: 20px 15px 0;
	    position: fixed;
	    left: -250px;
	    top: 0;
	    width: 250px;
	    display: block !important;
	    border:none;
	    z-index: 991;
	    overflow-y:auto;
	}
	#dor-top-menu.navbar-collapse ul {
	    min-width: 100%;
	    padding: 0; }
	    #dor-top-menu.navbar-collapse ul li {
	      margin-bottom: 5px; }
	    #dor-top-menu.navbar-collapse ul > li > a {
	      color: #a8a8a8;
	      text-transform: none; }
	  #dor-top-menu.navbar-collapse li {
	    width: auto;
	    float: none;
	    position: relative; }
	    #dor-top-menu.navbar-collapse li a {
	      color: #a8a8a8;
	      font-size: 14px;
	      padding: 10px 0;
	      line-height: 100%;
	      text-transform: none; }
	      #dor-top-menu.navbar-collapse li a i {
	        display: none; }
	      #dor-top-menu.navbar-collapse li a:hover,
	      #dor-top-menu.navbar-collapse li a:hover span, 
	      #dor-top-menu.navbar-collapse li a:focus {
	        color: #fff !important;background: none; }
	      #dor-top-menu.navbar-collapse li a:hover {
	        margin-left: 0; }
	        #dor-top-menu.navbar-collapse li a:hover:before {
	          content: none; }
	    #dor-top-menu.navbar-collapse li ul {
	      top: 0 !important;
	      left: 0px !important;
	      position: relative;
	      border: none;
	      opacity: 1;
	      box-shadow: none;
	      visibility: visible;
	      -webkit-transform: none;
	      -moz-transform: none;
	      -ms-transform: none;
	      -o-transform: none;
	      transform: none;
	      background: none;
	      display: none; }
	      #dor-top-menu.navbar-collapse li ul li a:hover {
	        color: #fff; }
	    #dor-top-menu.navbar-collapse li.open ul {
	      display: block; }
	  #dor-top-menu.navbar-collapse.active .mega-menu {
	    right: 0px;
	    overflow-y: auto; }
	.dor-megamenu .widget-heading.title_block > a{font-weight: 700;}
	#dor-top-menu .parent.dropdown-submenu > a,
	#dor-top-menu .parent.dropdown-submenu > a span{
	  font-size: 15px;
	  font-weight: 700;
	  padding-bottom: 15px;
	  text-transform: none;
	}
	#dor-top-menu.navbar-collapse li a span{font-size: 14px;}
	.dor-megamenu .nav.navbar-nav.megamenu > li > a > span{text-transform: uppercase;}
	.dor-megamenu .aligned-left .dropdown-menu li{padding: 0px;}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	  background: none;
	}
	.dor-megamenu .dropdown-menu li > a .caret::before{display: none;}
	#dor-top-menu .parent.dropdown > ul{padding-left: 15px;}
	.widget-inner.block_content ul li a::before, .dor-megamenu .dropdown-menu li > a::before, div.verticalmenu .dropdown-menu li > a::before{
		content: "";
	}
	.widget-product.block{display: none;}
	#dor-top-menu .parent.dropdown > ul{background: none !important;}
	.menu-label-hot, .menu-label-new, .menu-label-featured{top: -7px;}
	.verticalmenu .dropdown-menu .col-sm-3 ul,
	.verticalmenu .dropdown-menu .col-sm-4 ul, 
	.verticalmenu .dropdown-menu .col-sm-5 ul, 
	.verticalmenu .dropdown-menu .col-sm-6 ul, 
	.verticalmenu .dropdown-menu .col-sm-7 ul, 
	.verticalmenu .dropdown-menu .col-sm-8 ul{
		padding-left: 0px;
	}
	.verticalmenu .dropdown-menu .col-sm-3, 
	.verticalmenu .dropdown-menu .col-sm-4, 
	.verticalmenu .dropdown-menu .col-sm-5, 
	.verticalmenu .dropdown-menu .col-sm-6, 
	.verticalmenu .dropdown-menu .col-sm-7 {
	    padding-left: 20px;
	    padding-right: 30px;
	}

	/***Ver Menu****/
	.dorVerticalMenu{width: 100%;}
	.dor-verticalmenu .navbar-nav > li > .dropdown-menu{background: none !important;}
	div.verticalmenu .navbar-nav > li .parent.dropdown-submenu .expand.dropdown-toggle {
	    display: none !important;
	}
	.dor-tab-list-category h3::before, .dor-best-partners h3::before, #last-news-theme2 .fancy-heading h3::before {
	    width: 33%;
	}
	.dor-tab-list-category h3::after, .dor-best-partners h3::after, #last-news-theme2 .fancy-heading h3::after{
		width: 33%;
	}
/*	#countdown-data h2::before {
	    width: 39%;
	}
	#countdown-data h2::after {
	    width: 39%;
	}*/
	.footer-payment ul li{padding-left: 4px;}
	.promotion-banner img {
	    height: auto;
	    max-width: 100%;
	}
	#dor_custom_newsletter_block > span.hidden-sm{display: none !important;}
	#last-news-theme2 .owl-nav > div.owl-prev,
	.brands-lists .owl-nav > div.owl-prev,
	.partners-lists .owl-nav > div.owl-prev,
	.hotdeal-items-lists .owl-nav > div.owl-prev{
	    left: 0px;
	}
	.brands-lists .owl-nav > div.owl-next,
	#last-news-theme2 .owl-nav > div.owl-next,
	.partners-lists .owl-nav > div.owl-next,
	.hotdeal-items-lists .owl-nav > div.owl-next{
	    right: 0px;
	}
/*	.sortPagiBar {
	    left: auto;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    top: 20px;
	    width: 100px;
	    z-index: 9;
	}*/
	.cart_voucher h4{font-size: 26px;}
	.cart_voucher fieldset #discount_name{
		width: 175px;
	}
	button[name="submitAddDiscount"] span{padding: 0 15px !important;}
	#cart_voucher{padding-left: 0px;}
	#cart_summary tbody td.cart_product{width: 100px;}
	.table tbody > tr > td.cart_quantity .cart_quantity_button{margin-left: 10%;}
	.table tbody > tr > td.cart_quantity{width: 160px;}
	.main-promo-2 > div:nth-child(1),
	.main-promo-2 > div:nth-child(3){
		width: 50%;margin-bottom:270px;float: left;
	}
	.main-promo-2 > div:nth-child(2) {
	    bottom: 0;
	    padding: 0 0px;
	    position: absolute;
	    width: 100%;
	}
	.main-promo-2 > div:nth-child(2) > a{
		width: 50%;float: left;padding: 0px 15px !important;
	}
	.line-menu-main .dorVerticalMenu{width: 100%;}
	header .row #header_logo{width: 100%;}
}
@media (max-width: 784px){
	.product-count{display: none;}
	.sortPagiBar{float: none;}
	.content_sortPagiBar .sortPagiBar #productsSortForm{float: left !important;}
}
@media (max-width: 767px) and (min-width: 686px){
	.head-tab-lists > h3, .title_block.title-header-tab > h3, .tab-category-container-slider .title_block.title-header-tab h3 span {
	    font-size: 18px;
	    padding-top: 2px;
	}
}
@media (max-width: 767px){
	.product-count{display: none;}
	.bootstrap-select.dor-display, .selectProductSort{width: auto !important;}
	.dor-top-brands .head-tab-lists > h3::after, h3.title-layout3-dor::after{border:none !important;}
	#dor_search_top form#searchbox{right: -130px;}
	ul.product_list.list > li .right-block .right-block-content > div {
	    width: 100%;
	}
	.productNewArrivals ul.product_list.grid li.ajax_block_product{width: 100% !important;}
	.block .title_block::after, .block h4::after{font-size: 18px;top: 5px;cursor: pointer;}
	#left_column > div.block .title_block{
		margin-bottom:15px !important;
	}
	.navbar-nav > li > a {
	    padding-bottom: 16px;
	    padding-top: 16px;
	}
	.slide-picture {
	    max-width: 360px;
	}
	.dor-block-html .block_content img{width: auto;}
	.slide-picture ul img{width: 100%;}
	.countdown-daily {
	    display: block;
	    padding: 5px 0 0;
	}
	.countdown-daily > div.item-time{padding: 0px 5px;}
	.countdown-daily > div.item-time span{font-size: 13px;}
	.list-category-fil > ul{margin-right: 0px;}
	#dorTabProductCategoryContentPro .ajax_block_product,
	#dorTabFeaturedCategoryContent .ajax_block_product,
	#dorTabListCategoryContent .ajax_block_product,
	#dorTabListCategoryContent2 .ajax_block_product,
	#dorTabListCategoryContent3 .ajax_block_product{
		width: 100%;
	}
	/*.line-menu-main .dor-megamenu{top: -138px;}*/
	.pos_search.form-group, .dor_search{margin-bottom: 0px;}
	#left_column.column > form label{display: block;}
	.dor-service-style2 .service-box-content{padding:60px 0px 0px;}
	.dor-service-style2 .service-box:last-child .service-box-content{
		padding-bottom: 60px;
	}
	.promotion-banner img, #footer .footer-block {
	    width: 100%;
	}
	#header .cart_block{left: auto;right: 20px;}
	.dor-vertical-title .dor_title_block::after{content: "";}
	#countdown-data ul.product_list.grid li.ajax_block_product{width: 100%;}
	#dorTabListCategoryContent .ajax_block_product.col-dor-2:nth-child(5){clear: none;}
	#dorTabListCategoryContent2 .ajax_block_product.col-dor-2:nth-child(5){clear: none;}
	#dorTabListCategoryContent3 .ajax_block_product.col-dor-2:nth-child(5){clear: none;}
	.footer-copyright-payment .row > div {
	    float: none !important;
	    text-align: center !important;
	}
	.footer-payment ul li {
	    display: inline-block;
	    float: none;
	    padding-left: 8px;
	}
	#dor_custom_newsletter_block > label{display: none;}
	#dor_custom_newsletter_block, #dor_custom_newsletter_block .block_content{width: 100%;margin-bottom:0px;}
	.nav-tabs.dorTabAjaxSidebar > li {
	    margin-right: 25px;
	    width: auto;
	}
	.product-container-sidebar .product-name {
	    font-size: 20px;
	    font-weight: 500;
	}
	.ajax_block_product_sidebar h5,
	.ajax_block_product_sidebar div.hook-reviews,
	.ajax_block_product_sidebar div.content_price,
	.ajax_block_product_sidebar div.action-container-sidebar{margin-bottom: 20px;}
	.productSameCategory-wrapper ul.product_list.grid li.ajax_block_product{width: 100%;}
	#dor_custom_block_left .title_block::after,
	#dor_custom_block_dor_left .title_block::after{content: "";}
	#dor_custom_block_left .block_content{display: block !important;}
	.main-gallery ul li {
	    display: block;
	    float: left;
	    margin: 0px 0px 10px 0px;
	}
	.main-gallery ul li a{padding: 5px;}
	#order-detail-content #cart_summary tbody td.cart_description,
	#order-detail-content #cart_summary td.cart_product{border:none !important;}
	#order-detail-content #cart_summary td.cart_unit,
	#order-detail-content #cart_summary td.cart_unit .price,
	#order-detail-content #cart_summary td.cart_total{text-align: center;}
	#order-detail-content #cart_summary td.cart_quantity > .cart_quantity_button a{float: left;}
	#order-detail-content #cart_summary td::before {
	    color: #000;
	    font-size: 19px;
	    padding-bottom: 10px;
	    text-transform: uppercase;
	}
	.table tbody > tr > td.cart_quantity .cart_quantity_button {
	    margin-left: 23%;
	}
	#order-detail-content #cart_summary td.cart_delete {
	    padding: 0 !important;
	    position: absolute;
	    right: 0;
	    bottom: 0px;
	}
	.header-my-cart{font-size: 26px;padding: 20px 0;}
	ul.product_list.grid li.ajax_block_product .product-container{padding: 10px;}
	.row {
	    margin-left: -14px;
	    margin-right: -14px;
	}
	.dorTabLists.nav-tabs > li {
	    margin-left: 8px;
	    margin-right: 8px;
	}
	.dorTabLists.nav-tabs > li a{font-size: 14px;}
	.dor-tab-list-category .dorTabLists{text-align: left;}
	ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label{
		text-align: left;padding-left: 17px;
	}
	.tab-category-container-slider .title_block.title-header-tab > h3, #last-news-theme2 h3,
	.dor-best-partners .head-tab-lists > h3{width: auto;}
	.dorTabLists.nav-tabs{clear: both;}
	ul.product_list.grid li.ajax_block_product {
	    float: left;
	    width: 33.3333%;
	}
	ul.product_list.grid li.ajax_block_product.first-item-of-tablet-line{clear: none;}
	#dor_custom_block_left img{width: auto;}
	.ProductDetailTabsCols .tab-content{padding: 25px 0px;}
	.widget-heading.title_block::after {
	    content: none;
	}
	.lists_category li .images{display: block;}
	.lists_category li > div{padding: 8px;}
	.dor-top-brands .head-tab-lists, .tab-category-container-slider .head-tab-lists{top: -40px;}
	h3.title-layout3-dor, .dor-top-brands .head-tab-lists > h3{padding:0px 15px;}
	#cart_summary tbody td.cart_product {
	    width: 30%;
	}
	#order-detail-content #cart_summary tbody td.cart_description {
	    width: 70%;
	}
	#product.content_only div.primary_block div.pb-center-column {
	    display: table;
	    float: none;
	    height: auto;
	    padding-bottom: 20px;
	    width: 100%;
	}
}
@media (max-width: 719px){
	#dorTabAjaxPro li{display: block;float: none;}
	#dorTabAjaxPro li a i {
	    display: block;
	    font-size: 23px;
	    left: 5px;
	    padding-bottom: 0px;
	    text-align: center;
	    position: absolute;
	}
	#dorTabAjaxPro li a{padding-left: 40px;}
	#dorTabAjaxPro li a{border-bottom: 1px #ddd solid;}
	#dorTabAjaxPro li.active a{border-top: 0px;}
	#dorTabAjaxPro li.first_item.active a{border-top: 1px #ddd solid;}
	.dor-tab-list-category h3::before, .dor-best-partners h3::before, #last-news-theme2 .fancy-heading h3::before {
	    width: 30%;
	}
	.dor-tab-list-category h3::before, .dor-best-partners h3::before, #last-news-theme2 .fancy-heading h3::before {
	    width: 30%;
	}
	.dor-tab-list-category h3::after, .dor-best-partners h3::after, #last-news-theme2 .fancy-heading h3::after{
		width: 30%;
	}

}
@media (max-width: 767px) and (min-width: 650px){
	
	#category ul.product_list.grid li.ajax_block_product {
	    clear: none !important;
	    text-align: center;
	    width: 33.3333%;
	}
}
@media (max-width: 767px) and (min-width: 501px){
	.box-info-product .box-cart-bottom{width: 35%;float: left;}
	.box-info-product .quantity-product-option{width: 16.6667%;float: left;}
	.box-info-product .act-icon-detail{width: 33.3333%;float: left;}
	.service-content .service-box {
	    float: left;
	    width: 50%;
	}
	.service-content .service-box:nth-child(2n+1) {
	    clear: left;
	}
}
@media (max-width: 667px){
	.dor-media-bottom #views_block #thumbs_list li, .dor-media-top #views_block #thumbs_list li {
	    width: 70px;
	}
}
@media (max-width: 649px){
	.countdown-daily {
	    top: 215px;
	}
	.head-tab-lists > h3{width: 100%;margin-bottom: 25px;}
	ul.product_list.grid li.ajax_block_product {
	    float: left;
	    width: 50%;
	}
	ul.product_list.list > li .center-block {
	    padding: 0;
	    width: 66.6667%;
	}
	ul.product_list.list > li .right-block{width: 100%;}
	ul.product_list.list > li .right-block .right-block-content .content_price{width: 33%;}
	ul.product_list.list > li .right-block .right-block-content .button-container{width: 60%;}
	ul.product_list.list > li .right-block .right-block-content .functional-buttons {
	    clear: both;
	    float: none;
	    padding-left: 33%;
	    width: auto;
	}
	.dor-top-brands .head-tab-lists{display: none;}
}
@media (max-width: 599px){
	.countdown-daily {
	    top: 200px;
	}
	.gst-post-list img{width: 100%;height: auto;}
	
	.ajax_block_product_sidebar h5,
	.ajax_block_product_sidebar div.hook-reviews,
	.ajax_block_product_sidebar div.content_price,
	.ajax_block_product_sidebar div.action-container-sidebar{margin-bottom: 5px;}
	
	.top-pagination-content ul.pagination, .bottom-pagination-content ul.pagination{margin: 0px;}
	ul.product_list.list > li .right-block .right-block-content .functional-buttons a{padding: 0px;}
	#dor_search_top{right: 0px;}
	#dor_search_top form#searchbox{right: 20px;width: 90%;left: auto;}
	.dor-search-button {
	    margin-top: 15px;
	    position: absolute;
	    right: 175px;
	    z-index: 9;
	}
	#header .cart_block{right: -90px;}
	#currencies-block-top, #languages-block-top{width: 50% !important;}
	.des-slide {
	    color: #000;
	    font-size: 34px;
	    line-height: 42px;
	}
	.info-slide-load{width: 95%;}
	.slider-read-more a{font-size: 20px;}
	.subscribe-me .login-form{max-width: 80%;}
}
@media (max-width: 560px){
	.hotSearch{display: none;}
	.commentList li img.avatar {
	    border-radius: 40px;
	    height: 40px;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 40px;
	}
	.commentList li{padding: 8px 8px 8px 40px;}
	#order-detail-content #cart_summary td.cart_unit,
	#order-detail-content #cart_summary td.cart_quantity,
	#order-detail-content #cart_summary td.cart_total{width: 100%;}
	.table tbody > tr > td.cart_quantity .cart_quantity_button {
	    margin-left: 38%;
	}
	#order-detail-content #cart_summary tbody td .price,
	.table tbody > tr > td.cart_quantity,
	#order-detail-content #cart_summary td.cart_unit, #order-detail-content #cart_summary td.cart_unit .price, #order-detail-content #cart_summary td.cart_total{text-align: left;}
	.table tbody > tr > td.cart_quantity .cart_quantity_button {
	    margin-left: 0;
	}
	#order-detail-content #cart_summary tr.cart_item{padding: 15px;}
	.countdown-daily {
	    top: 170px;
	}
	#order-detail-content #cart_summary .cart_item td.cart_unit ul{float: right;}
	#order-detail-content #cart_summary .cart_item td.cart_quantity > div{float: right;}
	#order-detail-content #cart_summary .cart_item td.cart_total > span{float: right;}
	#order-detail-content #cart_summary .cart_item td.cart_unit ul li {
	    float: left;
	    padding-right: 10px;
	}
	#order-detail-content #cart_summary td::before{float: left;padding-right: 10px;}
}
@media (max-width: 500px){
	#dorTabProductCategoryContentPro .ajax_block_product,
	#dorTabListCategoryContent .ajax_block_product,
	#dorTabListCategoryContent2 .ajax_block_product,
	#dorTabListCategoryContent3 .ajax_block_product{
		width: 100%;
	}
	
	.pos_search .dropdown-toggle.form-control > span:first-child {
	    display: none;
	}
	.pos_search.form-group {
	    width: 11%;
	}
	.dor_search {
	    width: 89%;
	}
	header .row #header_logo{width: 30%;}
	#header_logo img{width: 100%;}
	.ajax_block_product_sidebar h5,
	.ajax_block_product_sidebar div.hook-reviews,
	.ajax_block_product_sidebar div.content_price,
	.ajax_block_product_sidebar div.action-container-sidebar{margin: 0px;}
	.product-container-sidebar .product-name {
	    font-size: 17px;
	}
	.pos_search .caret {
	    display: block;
	    float: none;
	    left: 38%;
	    margin: 0 auto;
	    position: absolute;
	    text-align: center;
	    top: 45%;
	}
	.box-info-product .box-cart-bottom{padding-left: 15px;padding-right: 15px;}
	.box-info-product .quantity-product-option{width: 38%;padding-left: 15px;padding-right: 15px;display: inline-block;}
	.box-info-product .act-icon-detail{padding-left: 15px;padding-right: 15px;}
	.entry-meta.media-left {
	    display: inline-block;
	    float: none;
	    padding: 0 0 15px;
	}
	.entry-meta.media-left > div {
	    display: block;
	    float: left;
	}
	#smartblogcat .entry-header .entry-title a{font-size: 23px;}
	.header-my-cart{font-size: 23px;padding: 15px 0; line-height: normal;}
	ul.product_list .product-name{font-size: 15px;}
	.countdown-daily {
	    top: 150px;
	}
	.ProductDetailTabsCols .nav-tabs > li > a{padding: 10px;}
	.dor-megamenu, .header-user-cart{top: 4px;}
	#header .shopping_cart, .head-current-useInfo .useInfoCurrText{margin-top: 4px;}
	.current.head-current-useInfo{margin-top: 1px;}
	.dor-search-button{margin-top: 8px;}
	.option-oct {
	    margin-top: 4px;
	}
	.header-main-wrapper {
	    padding: 10px 0;
	    padding-bottom: 3px;
	}
	#dor_search_top form#searchbox {
	    top: 54px;
	}
}
@media (max-width: 479px){
	ul.product_list.list > li .center-block{
		width: 100%;
	}
	ul.product_list.list .comments_note .star_content {
	    display: inline-block;
	    float: none;
	}
	ul.product_list.list .comments_note .star_content .star{top: -7px;}
	ul.product_list.list > li .comments_note .nb-comments{display: inline-block !important;float: none !important;}
	ul.product_list.list > li .right-block .right-block-content .content_price{width: 100%;}
	ul.product_list.list > li .right-block .right-block-content .button-container {
	    margin: 0 auto;
	    text-align: center;
	    width: 100%;
	}
	ul.product_list.list > li .right-block .right-block-content .functional-buttons{padding-left: 0px;}
	ul.product_list.list > li .center-block{padding-top: 25px;}
	ul.product_list.list > li .right-block .right-block-content .content_price .price{font-size: 28px;}
	

}
@media (max-width: 460px){
	.countdown-daily {
	    top: 120px;
	}
	.ProductDetailTabsCols .nav-tabs > li{
		display: block;
		width: 100%;
	}
	.ProductDetailTabsCols .nav-tabs > li > a{padding: 15px 0px;}
	.ProductDetailTabsCols .nav-tabs > li.active > a::before {
	    bottom: 5px;
	    top: auto;
	}
	.subscribe-me .login-form{max-width: 90%;}
}
@media (max-width: 430px){
	.countdown-daily {
	    top: 100px;
	}
	.cart_navigation > a {
	    display: block;
	    float: none !important;
	    margin-bottom: 15px !important;
	    width: 100%;
	    background: none !important;
	}
	.cart_navigation .button-medium{float: none;}
	.dor-tab-list-category h3::before, .dor-top-brands h3::before, .dor-best-partners h3::before, #last-news-theme2 .fancy-heading h3::before {
	    border:none;
	}
	.dor-tab-list-category h3::before, .dor-top-brands h3::before, .dor-best-partners h3::before, #last-news-theme2 .fancy-heading h3::before {
	    border:none;
	}
	.dor-tab-list-category h3::after, .dor-best-partners h3::after, .dor-top-brands h3::after, #last-news-theme2 .fancy-heading h3::after{
		border:none;
	}
	#dorTabFeatured.dorTabLists > li,
	.dor-tab-list-category .dorTabLists > li {
	    display: block;
	    float: none;
	    margin: 0 15px 20px;
	    text-align: left;
	}
	#dorTabFeatured {
	    display: block;
	    float: none;
	}
	.dorTabLists.nav-tabs > li a {
	    font-size: 18px !important;
	}
	.main-promo-2{display: none;}
	.cart_voucher h4 {
	    font-size: 23px;
	}
	#order-detail-content #cart_summary td{padding:7px 12px 7px 0;}
}
@media (max-width: 400px){
	.commentList li img.avatar{position: relative;}
	.commentList li{padding: 8px 8px 8px 8px;}
	.comment-block{padding: 15px;}
	#articleComments {
	    border: medium none;
	    box-shadow: none;
	    padding-left: 0;
	    padding-right: 0;
	}
	.lists_category li .images{display: block;}
	.lists_category li .images > div a {
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	.lists_category li .images > div a img{max-width: 100%;width: 100%;}
	.countdown-daily{top: 0px;}
	#category ul.product_list.grid li.ajax_block_product {
	    float: none;
	    width: 100%;
	}
	.socialsharing_product button {
	    border-color: #ebebeb;
	    float: left;
	    margin: 5px;
	    width: 45%;
	    font-size: 16px;
	}
	#header .cart_block {
	    left: auto;
	    max-width: 100%;
	    right: 0;
	}
	#productsSortForm, .nbrItemPage{margin: 0 !important;clear: both;}
	#header .cart_block {
	    right: -110px;max-width: 92%;
	}
	.header-user-cart{width: 100%;}
}
@media (max-width: 350px){
	#order-detail-content #cart_summary td::before{font-size:16px;}
	#voucher button[name="submitAddDiscount"] span {
    	font-size: 13px;
	    padding: 0 5px !important;
	}
	.cart_voucher h4 {
	    font-size: 20px;
	}
}
@media (max-width: 380px){
	.shopping_cart > a span,
	.shopping_cart > a b{display: none;}
	.shopping_cart > a {
	    display: block;
	    padding: 0 !important;
	    top: 6px;
	    width: 26px;
	    height: 26px;
	}
	.line-menu-main .dor-megamenu{right: 122px;}
	.header-user-cart{top: -4px;}
	.header-nav{margin-right: 0px;}
	.header-user-cart{right: 108px;}
	#header .cart_block {
	    right: -92px;
	}
	.dor-search-button{right: 150px;}
	.dor-megamenu{right: 185px;}
	header .row #header_logo{width: 32%;}
}
