#Dor_Full_Slider{
  position: relative; margin: 0 auto; top: 0px; left: 0px; overflow: hidden; visibility: hidden;
  font-family:'Oswald',sans-serif;
}
.dorNavSlider {
    position: absolute;
}
.slider-loading-img{
  position:absolute;display:block;background:url('images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
}
.dorNavSlider div, .dorNavSlider div:hover, .dorNavSlider .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.dorNavSlider div { background-position: -7px -7px; }
.dorNavSlider div:hover, .dorNavSlider .av:hover { background-position: -37px -7px; }
.dorNavSlider .av { background-position: -67px -7px; }
.dorNavSlider .dn, .dorNavSlider .dn:hover { background-position: -97px -7px; }

.dorArrowLeft, .dorArrowRight {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('images/a22.png') center center no-repeat;
    overflow: hidden;
}
.dorArrowLeft { background-position: -10px -31px;top:0px;left:12px;width:40px;height:58px; }
.dorArrowRight { background-position: -70px -31px;top:0px;right:12px;width:40px;height:58px; }
.dorArrowLeft:hover { background-position: -130px -31px; }
.dorArrowRight:hover { background-position: -190px -31px; }
.dorArrowLeft.jssora22ldn { background-position: -250px -31px; }
.dorArrowRight.jssora22rdn { background-position: -310px -31px; }
.dor-info-perslider{max-width: 700px;text-align: center;position: relative;}

.slider-content-wrapper{cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 741px; overflow: hidden;}
.dor-slider-title{
  position: absolute; 
  top: 180px; 
  left: -600px; 
  width: 100%; 
  height: 30px; 
  font-size: 30px; 
  color: #ffffff; 
  line-height: 30px; 
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.dor-slider-caption{
  position: absolute; 
  top: -50px; 
  left: 0px; 
  width: 100%; 
  height: auto; 
  font-size: 60px; 
  color: #ffffff; 
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
}
.dor-slider-desc{
  position: absolute;font-weight: 400;text-transform:uppercase;top: -150px; left: 0px; width: 100%; height: auto; font-size: 24px; color: #ffffff; line-height: 38px;
}
.slider-read-more{position: absolute;left: 0px;top: 390px;width:100%;color: #ffffff;padding:10px 20px;}
.slider-read-more a{
  font-weight: 400;color: #FFF;border:1px #FFF solid;font-size: 16px;border-radius: 35px;text-transform: uppercase;padding:3px 20px;}