{if isset($posts) AND !empty($posts)}
<div id="recent_article_smart_blog_block_left"  class="block blogModule boxPlain">
   <h2 class='sdstitle_block'><a href="{smartblog::GetSmartBlogLink('smartblog')}">{l s='Recent Articles' mod='smartblogrecentposts'}</a></h2>
   <div class="block_content sdsbox-content">
      <ul class="recentArticles">
        {foreach from=$posts item="post"}
             {assign var="options" value=null}
             {$options.id_post= $post.id_smart_blog_post}
             {$options.slug= $post.link_rewrite}
             <li>
                 <a class="image-blog" title="{$post.meta_title}" href="{smartblog::GetSmartBlogLink('smartblog_post',$options)}">
                     <img alt="{$post.meta_title}" src="{$post.thumb_image}">
                 </a>
                 <div>
                 <span class="widget-post-cat">{l s='Category:' mod='smartblogrecentposts'} {$post.category_name}</span>
                 <a class="title"  title="{$post.meta_title}" href="{smartblog::GetSmartBlogLink('smartblog_post',$options)}">{$post.meta_title}</a>
                  <span class="info clearfix"><i aria-hidden="true" class="fa fa-edit"></i> {$post.created|date_format:"%b %d, %Y"}</span>
               </div>
             </li>
         {/foreach}
            </ul>
   </div>
</div>
{/if}